section#award {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #000914;
    background-color: black;
}

.mt-box {
    margin-left: 70px;
    margin-right: 70px;
}

#mt-trophy .col-xl-5{
    border-bottom: .5px solid #00800061!important;
}

.mt-trophy-animation{
    width: 100%;
    height: 140px;
    overflow: hidden;
    position: relative;
}

.mt-trophy-animation::before{
    content: "";
    position: absolute;
    inset: 0;
    top: 27px;
    left: 0px;
    background: radial-gradient(circle, #173a18a6 1.5px, transparent 1.5px);
    background-size: 18px 18px;
}

.mt-trophy-animation::after{
    content: "";
    position: absolute;
    inset: 0;
    top: 27px;
    left: 0px;
    background: radial-gradient(circle, rgb(70, 244, 70) 1.5px, transparent 1.5px);
    background-size: 18px 18px;
    mask-image: linear-gradient(
        45deg,
        transparent 0%,
        transparent 35%,
        rgba(255,255,255,.2) 42%,
        rgba(255,255,255,.7) 48%,
        #fff 50%,
        rgba(255,255,255,.7) 52%,
        rgba(255,255,255,.2) 58%,
        transparent 65%,
        transparent 100%
    );
    -webkit-mask-size: 250% 100%;
    mask-size: 250% 100%;
    animation: dotWave 10s linear infinite;
}

@keyframes dotWave{
    from{
        -webkit-mask-position: -150% 0;
                mask-position: -150% 0;
    }
    to{
        -webkit-mask-position: 150% 0;
                mask-position: 150% 0;
    }
}





#milestone-h5 {
    color: green !important;
    font-weight: 500 !important;
    font-size: 20px;
    font-size: 17px;
    letter-spacing: 2px !important;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    word-spacing: 5px;
}

.milestone-h2 {
    margin-bottom: 50px;
}

.gr-word .letter{
    color: green;
}

#milestone-h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 1.5px;
    background: green;
    margin-top: 30px;
}

.mt-para {
    margin-top: 50px;
}

.mt-para p {
    font-size: 16px;
}

.award{
    position: relative;
    margin: auto;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.award img{
    position: relative;
    width: 550px!important;
    z-index: 5;
}
.award-glow{
    position: absolute;
    width: 250px;
    height: 250px;
    background: #5EFF3B;
    border-radius: 50%;
    filter: blur(120px);
    opacity: .18;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.award-ring{
    position: absolute;
    width: 450px;
    height: 450px;
    border: 1px solid rgba(95,255,59,.25);
    border-radius: 50%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: rotateRing 18s linear infinite;
}
.award-ring::after{
    content:"";
    position:absolute;
    width:10px;
    height:10px;
    background:#63ff3f;
    border-radius:50%;
    box-shadow:
    0 0 12px #63ff3f,
    0 0 30px #63ff3f;
    left:50%;
    top:-5px;
    transform:translateX(-50%);
}
@keyframes rotateRing{
    from{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

#gallery {
    margin-top: 150px;
    backdrop-filter: blur(20px); 
    background: #080b12;
    border: 1px solid rgba(255,255,255,.05);
    border-radius: 15px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, .55), 0 -2px 8px rgba(255, 255, 255, .03) inset;
    transition: .35s;
    position: relative;
    overflow: hidden;
    transition: all .4s ease;
}

#gallery::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, rgba(0, 15, 69, 0.12), rgba(61, 213, 255, 0));
    opacity: 0;
    transition: .4s;
}

#gallery:hover {
    transform: translateY(-12px);
    box-shadow: inset 0px 0px 20px rgba(50, 100, 215, 0.26)
}

#gallery:hover::before{
    opacity:1;
}
#gallery::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:0;
    width:0;
    height:3px;
    background:#004cff;
    transition:.4s;
}

#gallery:hover::after{
    width:100%;
    left:0;
}

#gallery h3{
    transition:.35s;
}


#gallery-box .tf_milestone_text{
    padding: 25px 0 20px 30px;
}

.tf_milestone_text ul {
    list-style: none;
}

.tf_milestone_text ul li .top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 30px);
    opacity: 0;
}

.tf_milestone_text ul li .top h3 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
}

.wd::after {
    content: "";
    display: block;
    width: 50px;
    height: 1.5px;
    background: #45ff4f;
    margin-top: 30px;
}

.tf_milestone_text ul li p {
    font-weight: 500;
    line-height: 28px;
    margin-top: 15px;
    font-size: 16px;
}

#gallery-box .tf_milestone_img {
    margin: 50px 5px 50px 0;
}

.w-100 {
    width: 100% !important;
}
.tf_milestone_img img {
    border-radius: 10px !important;
    opacity: 10;
}
.milestone-img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.milestone-wrapper {
    padding: 0px 8%;
    margin-top: 150px;
    text-align: center;
}

.milestone-wrapper-heading {
    font-size: 18px;
    font-weight: 700;
    color: #63d14f;
    letter-spacing: 2px;
    margin-bottom: 70px;
    position: relative;
    display: inline-block;
}

.milestone-wrapper-heading::before,
.milestone-wrapper-heading::after {
    content: "";
    width: 220px;
    height: 1px;
    background: #dfe7df;
    position: absolute;
    top: 50%;
}

.milestone-wrapper-heading::before {
    right: 100%;
    margin-right: 40px;
}

.milestone-wrapper-heading::after {
    left: 100%;
    margin-left: 40px;
}

.milestone-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.mt-feature {
    padding: 20px;
    position: relative;
}

.mt-feature:not(:last-child) {
    border-right: 1px solid #ffffff2e;
}

.mt-feature-icon {
    width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #63d14f;
    margin-bottom: 25px;

    box-shadow: 6px 4px 9px 0px rgba(0, 0, 0, .55), 11px 13px 15px 6px rgba(255, 255, 255, .05) inset;
    display: inline-block;
}

.mt-feature p {
    font-size: 16px;
    line-height: 1.8;
    color: #a2a2a2;
}





























/* ===========================
   Laptop (992px - 1199px)
=========================== */
/* @media (max-width:1199px){

.mt-box{
    margin:0 30px;
}

.award img{
    width:430px !important;
}

.award-ring{
    width:360px;
    height:360px;
}

.award-glow{
    width:200px;
    height:200px;
}

.milestone-wrapper{
    padding:0 4%;
}

.milestone-features{
    gap:30px;
}

.tf_milestone_text ul li .top h3{
    font-size:26px;
}

} */

/* ===========================
   Tablet (768px - 991px)
=========================== */
/* @media (max-width:991px){

section#award{
    padding:100px 0;
}

.mt-box{
    margin:0 20px;
}

#mt-trophy .row{
    flex-direction:column;
}

#mt-trophy .col-xl-7,
#mt-trophy .col-xl-5{
    width:100%;
}

#mt-trophy .col-xl-5{
    border:none !important;
    margin-top:60px;
}

#milestone-h2{
    font-size:56px;
    line-height:1.15;
}

.mt-para{
    margin-top:35px;
}

.award{
    float:none;
}

.award img{
    width:380px !important;
}

.award-ring{
    width:330px;
    height:330px;
}

.award-glow{
    width:180px;
    height:180px;
}

#gallery{
    margin-top:100px;
}

#gallery-box .tf_milestone_text{
    padding:25px;
}

#gallery-box .tf_milestone_img{
    margin:0;
}

.milestone-wrapper{
    margin-top:100px;
}

.milestone-features{
    grid-template-columns:repeat(2,1fr);
    gap:40px;
}

.mt-feature:nth-child(2){
    border-right:none;
}

} */
/* ===========================
   Mobile (576px - 767px)
=========================== */
/* @media (max-width:767px){

section#award{
    padding:80px 0;
}

.mt-box{
    margin:0 15px;
}

.mt-trophy-animation{
    width:150px;
    height:110px;
}

#milestone-h5{
    font-size:14px;
    letter-spacing:1px;
}

#milestone-h2{
    font-size:40px;
    line-height:1.2;
}

#milestone-h2::after{
    margin-top:20px;
}

.mt-para{
    margin-top:25px;
}

.mt-para p{
    font-size:15px;
    line-height:28px;
}

.award{
    margin-top:50px;
}

.award img{
    width:280px !important;
}

.award-ring{
    width:250px;
    height:250px;
}

.award-glow{
    width:150px;
    height:150px;
}

#gallery{
    margin-top:70px;
}

.tf_milestone_text ul li .top h3{
    font-size:24px;
}

.tf_milestone_text ul li p{
    font-size:15px;
}

#gallery-box .tf_milestone_text{
    padding:20px;
}

#gallery-box .tf_milestone_img{
    margin:0;
}

.milestone-wrapper{
    padding:0 20px;
    margin-top:80px;
}

.milestone-wrapper-heading::before,
.milestone-wrapper-heading::after{
    display:none;
}

.milestone-features{
    grid-template-columns:1fr;
    gap:30px;
}

.mt-feature{
    border:none !important;
    padding:10px 0;
}

.mt-feature-icon{
    width:75px;
    height:75px;
}

} */
/* ===========================
   Small Mobile (<576px)
=========================== */
@media (max-width:575px){
.main #banner{
    background-position: 40% !important;
}
    .tf_banner_text h1, .tf_banner_text span {
    font-size: 41px !important;
}
.tf_banner_text ul{
    margin-left: 0;
    gap: 25px;
    margin-bottom: 0;
}
.tf_banner_text ul li a {
    padding: 15px 15px;
    font-size: 14px;
    margin-right: 0;
}

.milestone-features{
    grid-template-columns:1fr;
    gap:30px;
}
.milestone-wrapper-heading::before,
.milestone-wrapper-heading::after{
    display:none;
}
.tf_section_heading h2 span {
    font-size: 27px;
    line-height: 31px;
}
.col-xl-6.col-lg-6{
    padding-right: 12px!important;
}
.tf_about_text ul li .top h3 {
    font-size: 21px;
}
.tf_single_service .text {
    padding: 40px 20px;
}
.tf_single_service .text {
    border-color: #32d74b38;
    box-shadow: inset 0px 0px 20px rgba(50, 215, 75, 0.26)
}
.tf_single_service .text h3 {
    color: #32d74b;
}
.tf_single_service .text::after {
    width: 100%;
    left: 0;
}
.tf_section_heading h5 {
    font-size: 18px;
}
.tf__skills_2 .nav {
    justify-content: space-between;
}
.tf__skills_2 .nav .nav-item button {
    padding: 12px 12px;
    margin: 5px 5px;
}
.tf__single_skill_2 {
    padding-left: 40px;
}
.tech-stack {
    gap: 10px;
}
.tf__single_skill_2 {
    border-color: #32d74b38;
    box-shadow: inset 0px 0px 20px rgba(50, 215, 75, 0.26);
}
.tf__single_skill_2 h3 {
    color: #32d74b;
}
.tf__single_skill_2::after {
    width: 100%;
    left: 0;
}
/* .mt-box{
    margin:0 10px;
}

#milestone-h2{
    font-size:34px;
}

.award img{
    width:230px !important;
}

.award-ring{
    width:210px;
    height:210px;
}

.award-glow{
    width:120px;
    height:120px;
}

.mt-feature p{
    font-size:15px;
} */

}

















































/* ================= MOBILE ================= */

/* @media(max-width:992px) {

    .milestone-features {
        grid-template-columns: 1fr;
    }

    .mt-feature {
        border-right: none !important;
        border-bottom: 1px solid #eee;
        padding-bottom: 40px;
    }
}

@media(max-width:768px) {
    .mt-feature p {
        font-size: 18px;
    }
}


@media screen and (max-width: 1700px) {
    #award .col-xl-6 {
        overflow: hidden;
        padding-right: 30px;
    }
}

@media (max-width: 575.99px) {
    .tf_milestone_img::before {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 575.99px) {
    .tf_milestone_img {
        width: auto !important;
        height: auto !important;
        margin-top: 80px !important;
        margin-right: 20px !important;
        margin-bottom: 0;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {
    .tf_milestone_img {
        width: 400px;
        height: auto;
        margin-top: 80px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .tf_milestone_img::before {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .tf_milestone_img {
        width: 400px;
        height: auto;
        margin-top: 80px;
        margin-right: 20px;
        margin-bottom: 0;
    }
} */